
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('https://t3.ftcdn.net/jpg/03/23/12/42/360_F_323124237_SfGqpttZqU2mrMm61VPSWA2tKvc95l9O.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
/* Start button styling */
.start-btn{
    position: absolute;
    color: white;
    font-size: 2.5em;
    font-weight: 400;
    top: 75%;
    width: auto;
    background-color: green;
    text-decoration: none;
    border-radius: 100px;
    border: 5px solid black;
    padding: 15px 30px;
    margin: auto;
    margin-bottom: 1rem;
}

.start-btn:hover{
    cursor: pointer;
    box-shadow: 1rem 1rem whitesmoke;
    transform: translateY(-0.5rem);
}

.container {
    height: 900px;
}

h1 {
    font-family: 'Rampart One', cursive;
    color: white;
    font-size: 7em;
    text-align: center;
    background-image: url('./assets/confetti-4-unscreen.gif');
}

img {
   position: fixed;
   right: 10px;
    width: 550px;
 }

img:hover {
    transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .rules {
    color: white;
    /* position: absolute; */
    top: 60%;
    font-family: 'PT Sans Narrow';
    font-size: 2em;
    text-align: center;
    justify-content: center;
  }
