/* blackboard background image */

body {
    background-image: url("./assets/UniformBadDingo-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
/* decorate and align start button */
.btn {
    position: fixed;
    left: 50%;
    font-size: 2em;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 1rem;
    margin: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 6em;
    text-align: center;
}

img {
   width: 800px;
   
    
}

